*{
    background-color: lightblue;
    font-family: 'Advent Pro', sans-serif;
}
/* .title{ became hero-body
    text-align: center;
    background-color:rgb(47, 47, 128);
    color: rgb(255, 226, 251);
    height: 200px;
    font-size: 100px;
    padding-top: 20px;
    border-radius: 25px;
    width: 100%;
    box-shadow: -10px 20px 10px #290050;
    font-family: 'Press Start 2P', cursive;
}
#form{ became search-history
    margin-top: 150px;
}
#search-input{
    width: 75%;
    background-color: aliceblue;
    margin-left: 10%; margin-right: 10%;

}
#search-button{
    background-color:black;
    height: 100px;
    width: 200px;
    margin-top: 50px;
    margin-left: 50%; margin-right: 50%;
    border-radius: 25px;
    font-size: 25px;
    color: #d0ffcb;
    box-shadow: -10px 10px 20px rgb(255, 255, 255)
} */

.hero-body {
    text-align: center;
    background-color:rgb(47, 47, 128);
    color: rgb(255, 226, 251);
    border-radius: 25px;
    box-shadow: -10px 20px 10px #290050;
    font-family: 'Press Start 2P', cursive;
    font-size: 100px;
}

.search-history {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
    column-gap: 30px;
}

.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    background-color: aliceblue;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px;
    background-color:black;
    border-radius: 25px;
    color: #d0ffcb;
    box-shadow: -10px 10px 20px rgb(255, 255, 255)
}

.tile {
    padding: 20px;
}
